node_modules/
dist/
dist-electron/
*.local
.DS_Store
Thumbs.db
public/sounds/*.mp3
HEAD:.gitignore
.env
**/ .env
focat/.env


.env
.env.local
.env.*.local
feature/incompletemodifications:focat/.gitignore
